.cntry {
    display: flex;
    background-color: burlywood;
    margin-top: 20px;
    width: fit-content;
    padding: 10px;
    margin-left: 42%;
    border-radius: 8px;
}

select{
    border:none;
    background-color: hsl(34, 57%, 70%);
    text-align: center;
    margin-left:2px;
}
select:hover{
    background-color: hsl(34, 57%, 80%);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
}